body {
    margin: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.top-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    background-color: #d3d3d3;
    padding: 0 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    position: fixed;
}
.top-container img {
    height: 80px;
    width: 270px;
}
.search-bar {
    display: flex;
    align-items: center;
    flex-grow: 1;
    margin: 0 20px;
} 
.search-bar form {
    display: flex;
    align-items: center;
    width: 100%;
}
.search-bar input {
    width: 80%;
    flex-grow: 1;
    padding: 10px;
    font-size: 16px;
}
.search-bar button {
    margin-left: 10px;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
}
.user-info {
    align-items: center;
    margin: 0 30px 0 0;
}
.user-info p {
    margin: 0 10px;
}
.main-container {
    display: flex;
    flex-grow: 1;
}
.left-container {
    width: 250px;
    height: 100%;
    background-color: #f0f0f0;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    position: fixed;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 100px;
}
.left-container h3 {
    margin-top: 0;
}
.left-container input {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
}
.left-container .category-section {
    margin-bottom: 20px;
}
.left-container button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}
.left-container button:hover {
    background-color: #45a049;
}
.left-container ul {
    list-style-type: none;
    padding: 0;
}
.left-container ul li {
    padding: 5px 0;
}
.left-container ul li a {
    text-decoration: none;
    color: #000;
    cursor: pointer;
}
.left-container ul li a:hover {
    text-decoration: underline;
}
.main-content {
    flex-grow: 1;
    padding: 20px;
    margin-left: 290px;
    margin-top: 100px;
}
.food-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.food-card {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 15px;
    align-items: center;
}
.food-card img {
    width: 100px;
    height: 100px;
    margin-right: 15px;
}
.food-card .food-details {
    display: flex;
    flex-direction: column;
}
.food-card .food-details .food-name {
    font-size: 18px;
    font-weight: bold;
}
.food-card .food-details .food-price {
    font-size: 16px;
    color: #888;
}

/* modal style */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.modal-content img {
    display: block;
    margin: 0 auto 20px;
    max-width: 100%;
    height: auto;
}

